/* stylelint-disable property-disallowed-list */
:root {
  --fs-smallest: max(0.5rem, 9px);
  --fs-small: 0.833rem;
  --fs-base: 1rem;
  --fs-medium: 1.2rem;
  --fs-large: 1.44rem;
  --fs-xl: 1.728rem;
  --fs-xxl: 2.074rem;
  --fs-xxxl: 2.488rem;
  --fs-huge: 15rem;
  @media screen and (min-width: 768px) {
    --fs-huge: 25rem;
  }
  @media screen and (min-width: 1200px) {
    --fs-huge: 30rem;
  }

  line-height: calc(4px + 2ex);

  font-size: 16px;
  //scale based on viewport width between 16px and 20px
  @media screen and (min-width: 1200px) {
    font-size: calc(10px + .5vw);
  }
  @media screen and (min-width: 1920px) {
    font-size: 20px;
  }
}

@mixin font-size($step) {
  font-size: var(--fs-#{$step});
  line-height: calc(4px + 2ex);
}

@mixin paragraph-line-height() {
  line-height: calc(1px + 3ex);
}
