html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: #ccc;
  color: #000;
  font-family: serif;
  margin: 0;
  padding: 0;
}
