:root {
  --background-color: #506380;
  --base-font-size: 20px;
  @media (max-width: 1000px) {
    --base-font-size: 16px;
  }
  --body-background-color: #fffcf3;
  --link-blue: rgb(11, 11, 192);
  --text-purple: rgb(59, 58, 80);
}
