<section class="post-list">
  <ul>
    {{#each @posts as |post|}}
      <li>
        [{{date-format post.attributes.date}}]
        <LinkTo @route="posts.post" @model={{post.path}}>
          {{post.attributes.title}}
        </LinkTo>
      </li>
    {{/each}}
  </ul>
</section>
