<main class="splash-screen">
  <h1>Jonathan Johnson</h1>
  <nav>
    <ul>
      <li><LinkTo @route="posts"><FaIcon @icon="blog" @prefix="fas" aria-hidden="false" @title="Blog Posts" /> Posts</LinkTo></li>
      <li><LinkTo @route="talks"><FaIcon @icon="keynote" @prefix="fas" aria-hidden="false" @title="Talks" /> Talks</LinkTo></li>
      <li><LinkTo @route="projects"><FaIcon @icon="project-diagram" @prefix="fas" aria-hidden="false" @title="Projects" /> Projects</LinkTo></li>
      <li><LinkTo @route="resume"><FaIcon @icon="scroll" @prefix="fas" aria-hidden="false" @title="Resume" /> Resume</LinkTo></li>
      <li><a href="https://github.com/jrjohnson"><FaIcon @icon="github" @prefix="fab" /> Github</a></li>
      <li><a href="https://www.linkedin.com/in/jonjohnson/"><FaIcon @icon="linkedin" @prefix="fab" /> LinkedIn</a></li>
    </ul>
    <img class="avatar" src="/media/avatar.png" alt="jon's avatar">
  </nav>
</main>
