<section class="talk-list">
  <ul>
    {{#each @talks as |talk|}}
      <li>
        [{{date-format talk.attributes.date}}]
        <LinkTo @route="talks.talk" @model={{talk.path}}>
          {{talk.attributes.title}}
        </LinkTo>
      </li>
    {{/each}}
  </ul>
</section>
