.splash-screen {
  place-self: center;
  width: 80%;

  & h1 {
    font-size: 5rem;
    text-align: right;

    @media (--small-viewport) {
      font-size: 3rem;
      text-align: center;
    }
  }

  & nav {
    display: grid;
    gap: 1rem;
    grid-template-areas:
      'top top top'
      'left left right'
      'left left right'
      'bottom bottom bottom';
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 31%) 25%;

    @media (--small-viewport) {
      display: flex;
      flex-direction: column;
    }

    & img {
      border-radius: 50%;
      grid-area: right;
      height: 300px;
      padding: 5px;
      place-self: right;
      width: 300px;
      @media (--small-viewport) {
        height: 200px;
        width: 200px;
      }
    }

    & ul {
      list-style-type: none;
      padding: 0;

      & li {
        font-size: 2rem;
      }
    }

    & ul:nth-of-type(1) {
      grid-area: left;
    }

    & ul:nth-of-type(2) {
      display: flex;
      flex-direction: row;
      grid-area: bottom;
      justify-content: space-around;
    }
  }
}
