.splash-screen {
  place-self: center;
  width: 80%;

  h1 {
    font-size: var(--fs-xxxl);
    text-align: right;

    @media (max-width: 1000px) {
      font-size: var(--fs-xxl);
      text-align: center;
    }
  }

  nav {
    display: grid;
    gap: 1rem;
    grid-template-areas:
      "top top top"
      "left left right"
      "left left right"
      "bottom bottom bottom";
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 31%) 25%;

    @media (max-width: 1000px) {
      display: flex;
      flex-direction: column;
    }

    img {
      border-radius: 50%;
      grid-area: right;
      padding: 5px;
      place-self: right;
      width: 300px;
      @media (max-width: 1000px) {
        width: 150px;
      }
    }

    ul {
      list-style-type: none;
      padding: 0;

      li {
        font-size: var(--fs-xl);
      }
    }

    ul:nth-of-type(1) {
      grid-area: left;
    }

    ul:nth-of-type(2) {
      display: flex;
      flex-direction: row;
      grid-area: bottom;
      justify-content: space-around;

      @media (max-width: 1000px) {
        width: 80%;
      }
    }
  }
}
