:root {
  --background-color: #506380;
  --body-background-color: #f8f6f2;
  --link-blue: #006daa;
  --text-purple: #171019;
  --header-orange: #bf6900;
  --header-purple: #5b3f64;
  --fs-smallest: max(0.5rem, 9px);
  --fs-small: 0.833rem;
  --fs-base: 1rem;
  --fs-medium: 1.2rem;
  --fs-large: 1.44rem;
  --fs-xl: 1.728rem;
  --fs-xxl: 2.074rem;
  --fs-xxxl: 2.488rem;
  --fs-huge: 15rem;
}
