---
import { getCollection } from 'astro:content';
import ContentLayout from '../layouts/ContentLayout.astro';
import FaIcon from '../components/FaIcon.astro';

const posts = (await getCollection('post')).sort(
  (a, b) => b.data.date.valueOf() - a.data.date.valueOf(),
);
const description=`Posts I've written collected in one place`;

---
<style>
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0.5rem;
  }

  li {
    margin-bottom: 0.25rem;
  }

  p {
    margin-bottom: 0.25rem;
  }
</style>
<ContentLayout title="Posts" description={description}>
  <h2>{description}</h2>
  <ul>
    {posts.map(post => (
      <li>
        <FaIcon iconName='blog' prefix='fad' />
        <a href={`/posts/${post.id}`}>
        {post.data.title}
        </a>
      </li>
    ))}
  </ul>
</ContentLayout>
