---
import { getCollection } from 'astro:content';
import Layout from '../layouts/Layout.astro';

const talks = (await getCollection('talk')).sort(
  (a, b) => b.data.date.valueOf() - a.data.date.valueOf(),
);
---

<Layout>
  <h1>Talks</h1>
  <ul>
    {talks.map(post => (
      <li>
        <a href={`/talks/${post.id}`}>
        [{post.data.date.toLocaleDateString('en-us', {
          weekday: "long",
          year: "numeric",
          month: "long",
          day: "numeric",
          })}] {post.data.title}
        </a>
      </li>
    ))}
  </ul>
</Layout>
