---
import Layout from "./Layout.astro";
import FaIcon from "../components/FaIcon.astro";

interface Props {
  title: string;
  description: string;
}
const { title, description } = Astro.props;
---

<style>
  footer {
    ul {
      list-style-type: none;
      margin: 0;
      display: flex;
      justify-content: end;
    }
  }
</style>

<Layout title={title} description={description}>
  <header>
    <h1>
      <a href="/" aria-label="Home">
        <img src="/media/avatar.png" alt="jon's avatar">
        Jonathan Johnson
      </a>
    </h1>
  </header>
  <nav aria-label="Primary" class="primary-navigation">
    <ul>
      <li><a href="/posts">Posts</a></li>
      <li><a href="/talks">Talks</a></li>
      <li><a href="/projects">Projects</a></li>
      <li><a href="/resume">Resume</a></li>
    </ul>
  </nav>
  <main>
    <slot />
  </main>
  <footer>
    <nav>
    <ul>
      <li><a href="https://github.com/jrjohnson" title="Github"><FaIcon iconName="github" prefix="fab" /></a></li>
      <li><a href="https://www.linkedin.com/in/jonjohnson/" title="LinkedIn"><FaIcon iconName="linkedin" prefix="fab" /></a></li>
    </ul>
  </nav>
  </footer>
</Layout>
