---
import "../styles/variables.css";
import "../styles/layout.css";

interface Props {
  title: string;
  description?: string;
}

const { title } = Astro.props;
const baseTitle = `Jon's Personal Site`;

const pageTitle = title ? `${title} | ${baseTitle}` : baseTitle;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
