<div class="site-wrapper">
  <header>
    <h1>Jonathan Johnson</h1>
  </header>
  <nav>
    <ul>
      <li>{{#link-to "posts"}}Posts{{/link-to}}</li>
      <li>{{#link-to "talks"}}Talks{{/link-to}}</li>
      <li>{{#link-to "projects"}}Projects{{/link-to}}</li>
      <li>{{#link-to "resume"}}Resume{{/link-to}}</li>

    </ul>
  </nav>
  <main>{{outlet}}</main>
  <footer>
    <nav>
      <ul>
        <li><a href="https://github.com/jrjohnson">Github</a></li>
        <li><a href="https://twitter.com/jrjohnson_">Twitter</a></li>
        <li><a href="https://www.linkedin.com/in/jonjohnson/">LinkedIn</a></li>
      </ul>
    </nav>
  </footer>
</div>
