{{page-title "Jon's Personal Site"}}
{{#if this.isSplashPage}}
  <SplashScreen />
{{else}}
  <header>
    <h1>
      <LinkTo @route="index">
        <img src="media/avatar.jpg" alt="jon's avatar">
        Jonathan Johnson
      </LinkTo>
    </h1>
  </header>
  <nav aria-label="Primary" class="primary-navigation">
    <ul>
      <li><LinkTo @route="posts">Posts</LinkTo></li>
      <li><LinkTo @route="talks">Talks</LinkTo></li>
      <li><LinkTo @route="projects">Projects</LinkTo></li>
      <li><LinkTo @route="resume">Resume</LinkTo></li>

    </ul>
  </nav>
  <main>{{outlet}}</main>
  <footer>
    <nav aria-label="Footer">
      <ul>
        <li><a href="https://github.com/jrjohnson"><FaIcon @icon="github" @prefix="fab" aria-hidden="false" @title="Github Profile" /></a></li>
        <li><a href="https://twitter.com/jrjohnson_"><FaIcon @icon="twitter" @prefix="fab" aria-hidden="false" @title="Twitter Profile" /></a></li>
        <li><a href="https://www.linkedin.com/in/jonjohnson/"><FaIcon @icon="linkedin" @prefix="fab" aria-hidden="false" @title="LinkedIn Profile" /></a></li>
      </ul>
    </nav>
  </footer>
{{/if}}
